<!DOCTYPE html>

<html>

  <head>
    <title>addproduct</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table tr td {
            border:1px solid #0094ff;
        }
    </style>
  </head>

  <body>
	<form th:action="@{/addproduct}" th:object="${product}" method="post">
	   <p>创建时间：</p>
	   <input type="text" id="createTime" name="createTime" th:value="*{createTime}" />
	   <p>更新时间：</p>
	   <input type="text" id="updateTime" name="updateTime" th:value="*{updateTime}" />
       <p>产品名称：</p>
       <input type="text" id="productName" name="productName" th:value="*{productName}" />
       <p>产品描述：</p>
       <input type="text" id="productDesc" name="productDesc" th:value="*{productDesc}" />
       <p>请确认，添加不能删除不能修改</p>
       <button name="submit" type="submit">确认</button>
	</form>

  </body>

</html>